<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FacturacionDAM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FacturacionDAM.Properties.Settings>
            <setting name="BrowEmisoresSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowEmisoresLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowEmisoresState" serializeAs="String">
                <value>"Maximized"</value>
            </setting>
            <setting name="BrowClientesSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowClientesLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowClientesState" serializeAs="String">
                <value>"Maximized"</value>
            </setting>
        </FacturacionDAM.Properties.Settings>
    </userSettings>
</configuration>